.container {
  min-width: 100px;
  min-height: 20px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  padding: 2px;
  word-wrap: anywhere;
  font-size: 13px;
}

